.searchContainer {
  display: flex;
  gap: 0.5em;
}

.search {
  flex-grow: 1;
}

.addButton {
  width: 2.25em;
}

.birthdateContainer {
  display: grid;
  grid-template-rows: 1fr;
  overflow: hidden;
  transition: grid-template-rows 250ms;
}

.birthdateContainer.hidden {
  grid-template-rows: 0fr;
}

.birthdateContainerContent {
  min-height: 0;
}


.birthday {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0.5em;
  gap: 0.5em;
}

.birthday:hover {
  background-color: var(--primary-color);
  border-radius: 0.25rem;
}

.birthdayName {
  font-weight: 700;
}

.noBirthdays {
  padding: 0.5em;
}
