.headerContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.settingsButton {
  width: 2.25em;
  background-color: #2c2d34;
  color: #FFFFFF;
}

.searchContainer {
  display: flex;
  gap: 0.5em;
}

.search {
  flex-grow: 1;
}

.addButton {
  width: 2.25em;
}

.birthdayContainer {
  display: grid;
  grid-template-rows: 1fr;
  overflow: hidden;
  transition: grid-template-rows 250ms;
}

.birthdayContainer.hidden {
  grid-template-rows: 0fr;
}

.birthdayContainerContent {
  min-height: 0;
}

.birthday {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0.5em;
  margin: 0.5em 0;
  gap: 0.5em;
}

.birthday:hover, .birthday:focus {
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  outline: 0;
}

.birthdayName {
  font-weight: 700;
}

.noBirthdays {
  padding: 0.5em;
}
